.wrapper {
  padding-top: 50px;
  background: darkseagreen;
  height: 100%;
}

.wrapper select {
  background-color: whitesmoke;
  position: flex;
  float: right;
  margin-right: 5%;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 5px solid thick blue;
}