thead {
    background-color: goldenrod;
    font-size: larger;
    color: darkorchid;
    
}

thead button {
    font-size: 50%;
    border-radius: 10px;
}

#ascBtn{
    margin-left: -20%;
    margin-right: 2%;
    margin-bottom: 2.5%;
    background-color: powderblue;
    color: orangered
}

#descBtn {
    margin-left: 2%;
    background-color: rebeccapurple;
    color: lightblue
}